h3{
    font-size:25px !important;
}
.btn-success:hover{
background-color: blue;
}
canvas {
    animation-name:example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 4px 4px 100px yellow;}
    to{box-shadow: 4px 4px 100px purple;}
}